---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;
---

{
  headings.length > 0 && (
    <div class="article-panel">
      <h2>On this page</h2>
      <ol class="toc-list">
        {headings.filter((heading) => heading.depth <= 3).map((heading) => <li><a href={`#${heading.slug}`}>{heading.text}</a></li>)}
      </ol>
    </div>
  )
}
